* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

body {
    font-size: 16px;
    line-height: 1.4;
    height: 100vh;
}

table {
    margin: auto;
    border-spacing: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

td {
    padding: 15px;
}

thead {
    text-transform: uppercase;
    background-color: #2aa879;
    color: #ffffff;
}

tr > td:first-child {
    padding-right: 50px;
}

tr > td:last-child {
    padding-left: 50px;
}

tr > td:nth-child(2) {
    padding-right: 50px;
}

tbody tr {
    background-color: #e3efeb;
}

tbody tr:nth-child(2n+1) td {
    background-color: #f9f9f9;
}

tbody tr:nth-child(n+1) td {
    border-bottom: 1px solid #e1e7e5;
}

tbody tr td {
    transition: ease-in-out 0.6s;
    cursor: pointer;
}
tbody tr td:hover{
    background-color: #55AD9B;
    color: #ffffff;
}