@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul, li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    transition: 0.8s;
}
a:hover{
    opacity: 0.7;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: #fff;
    color: #000000;
}

.header__inner {
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.menu__list {
    display: flex;
    gap: 60px;
}

.primary {
    color: #A90102;
}
.card__list-item.unavailable {
    color: #A19FA0;
}

.card{
    height: calc(100vh - 133px);
    background: #FBF6F3;
}
.card__inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 970px;
    margin: 0 auto;
    gap: 50px;
}
.card__img{
    width: 100%;
    max-width: 582px;
    object-fit: cover;
}
.card__content{
    width: 100%;
    max-width: 340px;
}

.card__title{
    margin-bottom: 35px;
    font-size: 48px;
    font-weight: 400;
}
.card__price{
    margin-bottom: 35px;
    font-size: 36px;
}
.card__list{
    margin-bottom: 48px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.card__text{
    font-size: 18px;

}
/*-----------------------HW13.2----------------------------*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.product{
    padding: 200px 0;
}
.product__title{
    text-align: center;
    color: #142823;
    font-size: 48px;
    font-weight: 700;
    max-width: 500px;
    margin: 0 auto 55px;
}
.product__list{
    display: flex;
    align-items: flex-start;
   justify-content: center;
    gap: 128px;

}
.product__card{
    width: 285px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 32px;
    box-shadow: 0px 4px 20px 0px rgba(139, 139, 139, 0.10);
    position: relative;
}
.product__card-img{
    border-radius: 16px;
}
.product__card-rate{
    position: absolute;
    top: -30px;
    left: 75px;
    margin: 0 auto;
    background-color: #fff;
    border: 8px solid #f7f7f7;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}
.product__card-svg{
    width: 18px;
    margin-right: 3px;
}
.product__card-price{
    color: #106FDF;
    font-size: 24px;
    font-weight: 700;
}
.product__card-price.sale {
    color: #DD152D;
}

/*-----------------------HW13.1----------------------------*/
img{
    width: 100%;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.wh13_1 .logo{
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}
.wh13_1 .logo img{
    width: 60px;
    object-fit: contain;
    margin-right: 20px ;
}
.wh13_1 .header{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    position: absolute;
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 0;
}
.wh13_1 .menu{
    margin-left: auto;
}
.wh13_1 .button{
    width: max-content;
    background-color: #ffffff;
    padding: 0 20px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 20px;
}
.wh13_1 .menu__list {
    gap: 15px;
    color: #fff;
    display: flex;
    align-items: center;
}
.wh13_1 .menu__item {
    line-height: 1;
}
.wh13_1 .menu__list svg{
    fill: #ffffff;
}
.hero{
    width: 100%;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
    max-width: 600px;
    margin: 0 auto 20px;
    color: #ffffff;
    font-size: 32px;

}
.hero form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    width: 100%;
}
input[type="search"]{
    max-width: 445px;
    width: 100%;
    font-size: 16px;
    height: 60px;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.hero__btn-photo{
    display: inline-flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin: 5px 20px 5px 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
}
.hero__btn-photo svg{
    margin-right: 4px;
}
button{
    border: 0;
    font-size: 16px;
    font-weight: 600;
}
.hero__btn{
    background-color: transparent;
    width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}