@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul, li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    transition: 0.8s;
}
a:hover{
    opacity: 0.7;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: #fff;
    color: #000000;
}

.header__inner {
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.menu__list {
    display: flex;
    gap: 60px;
}

.primary {
    color: #A90102;
}
.card__list-item.unavailable {
    color: #A19FA0;
}

.card{
    height: calc(100vh - 133px);
    background: #FBF6F3;
}
.card__inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 970px;
    margin: 0 auto;
    gap: 50px;
}
.card__img{
    width: 100%;
    max-width: 582px;
    object-fit: cover;
}
.card__content{
    width: 100%;
    max-width: 340px;
}

.card__title{
    margin-bottom: 35px;
    font-size: 48px;
    font-weight: 400;
}
.card__price{
    margin-bottom: 35px;
    font-size: 36px;
}
.card__list{
    margin-bottom: 48px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.card__text{
    font-size: 18px;

}
/*-----------------------HW13.2----------------------------*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.product{
    padding: 200px 0;
}
.product__title{
    text-align: center;
    color: #142823;
    font-size: 48px;
    font-weight: 700;
    max-width: 500px;
    margin: 0 auto 55px;
}
.product__list{
    display: flex;
    align-items: flex-start;
   justify-content: center;
    gap: 128px;

}
.product__card{
    width: 285px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 32px;
    box-shadow: 0px 4px 20px 0px rgba(139, 139, 139, 0.10);
    position: relative;
}
.product__card-img{
    border-radius: 16px;
}
.product__card-rate{
    position: absolute;
    top: -30px;
    left: 75px;
    margin: 0 auto;
    background-color: #fff;
    border: 8px solid #f7f7f7;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}
.product__card-svg{
    width: 18px;
    margin-right: 3px;
}
.product__card-price{
    color: #106FDF;
    font-size: 24px;
    font-weight: 700;
}
.product__card-price.sale {
    color: #DD152D;
}